*{margin: 0;padding: 0}
a{text-decoration:none;color: #000}
ol,ul,li{list-style: none;}
img{border:0 none;vertical-align: middle;}
button{outline: 0 none;border: 0 none;}
html{font-size:625%}
@fz:100rem;
body{max-width:640/@fz;min-width:320/@fz;margin: 0 auto;background: #ccc;height: 100%;}
.clearfix{*zoom:1;}
.clearfix:after{content: ",";display: block;visibility: hidden;clear: both;line-height: 0;font-size: 0;height:0;}
//首页

.threeBTN{width: 100%;
    li{width:290/@fz;height:41/@fz;font-size: 14/@fz;line-height:41/@fz;text-align: center;margin: 0 auto 21/@fz;cursor: pointer;border-radius: 4/@fz;
        a{color:#fff;}
    }
    .ordinary{background:#0cc }
    .special{background:#09c }
    .service{background: #393}
}

